Output Directory: '/path/to/store/temporary/disc/images'
Drive Pair:
    - # drive 1
        device: /dev/disk/by-id/descriptor-for-drive-1
        description: human-friendly description of optical drive #1
    - # drive 2
        device: /dev/disk/by-id/descriptor-for-drive-2
        description: human-friendly description of optical drive #2
AWS:
    Region: [AWS region]
    Queue: [AWS SQS queue name]
    IAM User: [not actually used by code; just here for reference]
    Access Key: [AWS access key]
    Secret Key: [AWS secret key]
